<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06_列表渲染</title>
</head>
<body>

<!--
1. 列表显示
  数组: v-for / index
  对象: v-for / key
2. 列表的更新显示
  删除item
  替换item
-->

<div id="demo">
    <h2>测试: v-for 遍历数组</h2>
    <ul>
        <li v-for="(p, index) in persons" :key="index">
            {{index}} --- {{ p.name }} --- {{ p.age }}
            ---
            <button @click="deleteP(index)">删除</button>
            ---
            <button @click="updateP(index, {name: 'Cat', age: 20})">更新</button>
        </li>
    </ul>

    <h2>测试: v-for 遍历对象</h2>
    <ul>
      <!-- value为对象中的属性值，key为对象中的属性名 -->
      <li v-for="(value, key) in persons[1]" :key="key">
        {{ value }} --- {{ key }}
      </li>
    </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    //Vue本身只是监视了persons的改变，没有监数组内部的改变
    //Vue重写了数组中的一系列改变数组内部数据的方法（先调用原生，再更新页面） --> 数组内部改变，界面自动变化
    new Vue({
        el: '#demo',
        data: {
            persons: [
                {
                    name: 'Tom',
                    age: 18
                },
                {
                    name: 'Jack',
                    age: 16
                },
                {
                    name: 'Bob',
                    age: 19
                },
                {
                    name: 'Rose',
                    age: 17
                },
            ]
        },
        methods: {
            //删除
            deleteP(index) {
                //删除persons中指定index的对象
                this.persons.splice(index, 1);
            },
            //更新
            updateP(index, newP) {
                //this.persons[i] = newP;//并没有改变persons数组本身，而是数组中的元素，所以数组内部发生了变化，但没有调用变异方法，vue不会更新界面
                //this.persons = [];//这里改变了persons数组本身，Vue是知道的
                //splice()，删除指定index的元素，并将新的元素替换到原来的位置
                this.persons.splice(index, 1, newP);
            }
        }
    });
</script>
</body>
</html>